doctype html
html(lang="ru") 
    head
        meta(charset="utf-8")
        title Home page — QWERy
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="/css/reset.css")
        link(rel="stylesheet" href="/css/index.css")
    body
        header.header
            a.logo(href='/')
                h1.logo_title Tarkov
            nav.main-nav
                ul.main-nav_list
                    li.main-nav_item
                        a.main-nav_link.main-nav_link_active(href='#')
                        Information
                    li.main-nav_item
                        a.main-nav_link(href='#') About&nbsp;us
                    li.main-nav_item
                        a.main-nav_link(href='#') SBEU
            label.search
                .search_icon
                input.search_form(type="text" placeholder="search")


